{
  "mat1": {
    "day1": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1730803588/mat1_day1_video",
      "numberOfVideos": 11
    },
    "day2": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1731504160/mat1_day2_video",
      "numberOfVideos": 14
    },
    "day3": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1731853595/mat1_day3_video",
      "numberOfVideos": 11
    }
  },
  "book1": {
    "activity1": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1733911700/book1_activity1_video",
      "numberOfVideos": 1
    },
    "activity2": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734273535/book1_activity2_video",
      "numberOfVideos": 1
    },
    "activity3": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1733915652/book1_activity3_video",
      "numberOfVideos": 1
    },
    "activity4": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734535132/book1_activity4_video",
      "numberOfVideos": 1
    },
    "activity5": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734535330/book1_activity5_video",
      "numberOfVideos": 1
    },
    "activity6": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734612922/book1_activity6_video",
      "numberOfVideos": 1
    },
    "activity7": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734535527/book1_activity7_video",
      "numberOfVideos": 1
    },
    "activity8": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734535875/book1_activity8_video",
      "numberOfVideos": 1
    },
    "activity9": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1734614450/book1_activity9_video",
      "numberOfVideos": 1
    },
    "activity10": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1733911700/book1_activity10_video",
      "numberOfVideos": 3
    }
  }
}
