{
  "mat1": {
    "day1": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1730803588/mat1_day1_video",
      "numberOfVideos": 11
    },
    "day2": {
      "baseVideoUrl": "https://res.cloudinary.com/djtatwxz9/video/upload/v1731504160/mat1_day2_video",
      "numberOfVideos": 14
    }
  }
}
